.main {
  height: 100%;
  background-color: beige;
  display: flex;
  justify-content: space-between;
}
.project {
  width: 50%;
  border-right: 1px solid gray;
}
input {
  border: none;
}
ul {
  list-style: none;
}
.forDell {
  color: red;
  cursor: pointer;
}
.forDell:hover {
  transform: scale(1.2);
}
input:checked + input {
  text-decoration: line-through;
}
